h1{
font-family: 'Varela Round', sans-serif;
   color: #483D8B;
}

p{
font-family: 'Varela Round', sans-serif;
}

h2{
font-family: 'Varela Round', sans-serif;
    font-size: 150 px;
   color: #4682B4;
}

h5{
font-family: 'Sarabun', sans-serif;
}
.my-bg{
  background-color: #FFF0F5;
}

.my-bg2{
  background-color: #FFFACD;
}

.my-bg3{
  background-color: #F0F8FF;
}

.my-bg4{
  background-color: #708090;
}

h6{
font-family: 'Sarabun', sans-serif;
}

my.text{
font-family: 'Varela Round', sans-serif;
   color: #483D8B;
}